# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

-ffunction-sections

*.cscope_file_list

*.depend

*.layout

bin/Release/TastersteuerungLoRa.eep

bin/Release/TastersteuerungLoRa.elf

bin/Release/TastersteuerungLoRa.hex

bin/Release/TastersteuerungLoRa.lock

bin/Release/TastersteuerungLoRa.lss

bin/Release/TastersteuerungLoRa.map

bin/Release/TastersteuerungLoRa.sig
